<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= player.email %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= player.enabled %>
  </p>

</div>
